@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
:root {
  --white: #fff;
  --black: #000;
  --bg-color: #252b42;
  --primary-blue: #2091f9;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-size: 1.6rem;
}
.btn {
  color: var(--primary-blue);
  background-color: var(--white);
  padding: 1rem 4rem;
  font-size: 1.8rem;
  border-radius: 5rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.99);
}
.animate__animated.animate__fadeIn {
  --animate-duration: 1.5s;
}
/* End of Common Styles */

/* start of header */
.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgb(0, 0, 0, 0.9),
      rgba(9, 151, 255, 0.56)
    ),
    url(img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 50% 85%, 0 65%);
  padding: 2rem 15rem;
}

/* start of navbar */
.header {
  display: flex;
  flex-direction: column;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links > li {
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.nav-links > li > a {
  color: var(--white);
  font-weight: 400;
  transition: .3s all;
}
.nav-links > li > a:hover{
  color: var(--primary-blue);
  font-weight: 500;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links > a {
  padding: 1rem;
}
.social-links > a > i {
  font-size: 2rem;
  color: var(--white);
  transition: .3s all;
}
.social-links > a > i:hover{
  color: var(--primary-blue);
}
/* end of navbar */

/* start of header content */
.header-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-align: center;
}
.header-headings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}
.header-content h1 {
  width: 50vw;
  font-size: 5rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.header-content p {
  width: 40vw;
  font-size: 1.8rem;
  line-height: 1.5;
}
.navBtn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.navBtn i{
  font-size: 2.1rem;
  font-weight: 200;
  color: var(--white);
}
.tryFreeBtn{
  transition: .4s all !important;
}
.tryFreeBtn:hover{
  background-color: var(--primary-blue);
  color: var(--white);
}
/* end of header content */

/* start of header media queries */
@media screen and (max-width: 1230px) {
  .header-content h1 {
    width: 60vw;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 1000px) {
  .navbar {
    justify-content: center;
  }
  .social-links {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header-content h1 {
    width: 80vw;
  }
  .header-content p {
    width: 60vw;
  }
}
@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }
  .navBtn{
    position: fixed;
    top: 2rem;
    right: 3rem;
    display: block;
  }
  .nav-links.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
  }
  .nav-links.show > li > a{
    font-weight: 500;
    text-transform: uppercase;
  }
  .navbar.show{
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(
      180deg,
      rgb(0, 0, 0, 1),
      rgba(9, 151, 255, 1)
    );
    z-index: 1000;
    padding: 2rem;
    animation: animateNav .5s;
}
@keyframes animateNav {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
  .header{
    padding: 0;
  }
  .header-content h1 {
    font-weight: 500;
  }
  .header-content p {
    font-weight: 400;
    width: 70vw;
  }
  .tryFreeBtn {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 530px) {
  .tryFreeBtn {
    width: 18rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  .tryFreeBtn {
    width: 22rem;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding: 2rem;
  }
  .tryFreeBtn {
    width: 18rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
}
/* end of header media queries */

/* end of header */

/* start of section 1 */
.section-1 {
  height: 130vh;
  width: 100%;
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: var(--white);
}
.section-1-headings h2 {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--primary-blue);
  text-transform: uppercase;
}
.section-1-headings p {
  font-size: 1.8rem;
  font-weight: 400;
}
.section-1-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card i {
  color: var(--primary-blue);
  font-size: 3rem;
}
.card h3 {
  margin: 2rem 0;
  text-transform: capitalize;
  font-size: 2rem;
}
.card p {
  width: 80%;
}
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.video-container video {
  width: 100%;
}

/* start of media-queries section 1 */
@media screen and (max-width: 1250px) {
  .section-1 {
    padding: 1rem;
    height: 200vh;
  }
  .section-1-headings h2 {
    font-size: 7rem;
  }
  .section-1-cards {
    flex-direction: column;
  }
  .card {
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    width: 50%;
  }
  .card p {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .video-container {
    width: 70vw;
  }
  .video-container video {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .card {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .section-1 {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 500px) {
  .video-container {
    display: none;
  }
  .video-container video {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .section-1 {
    height: 100vh;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 40%;
  }
  .header {
    padding: 0;
  }
  .header-content h1 {
    width: 100vw;
    margin-bottom: 2rem;
  }
  .section-1 {
    height: 100vh;
  }
  .card {
    margin: 3rem 0;
  }
}
/* end of media-queries section 1 */

/* end of section 1 */

/* start of section 2 */
.section-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
  width: 100%;
  padding: 1rem 15rem;
  color: var(--white);
}
.section-2-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-2-content h2 {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--primary-blue);
  text-transform: uppercase;
}
.section-2-content p {
  font-weight: 400;
  width: 70%;
  margin: 2.5rem 0;
  font-size: 2rem;
  line-height: 1.4;
}
.section-2-btn {
  background: var(--primary-blue);
  color: var(--white);
  transition: .4s all;
}
.section-2-btn:hover{
  background-color: var(--white);
  color: var(--primary-blue);
}
.section-2-image {
  width: 50rem;
}
.section-2-image img {
  width: 100%;
}

/* media queries section 2 */
@media screen and (max-width: 1100px) {
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 2rem;
  }
  .section-2-content {
    text-align: center;
    width: 100%;
  }
  .section-2-content h2 {
    width: 100%;
    text-align: center;
  }
  .section-2-content p {
    width: 100%;
    text-align: center;
  }
  .section-2-btn {
    margin: 0 auto;
  }
  .section-2-image {
    margin: 0 auto;
    width: 60vw;
  }
}
@media screen and (max-width: 1030px) {
  .section-2 {
    height: 130vh;
  }
}
@media screen and (max-width: 770px) {
  .section-2 {
    height: 110vh;
  }
}
@media screen and (max-width: 500px) {
  .section-2 {
    height: 100vh;
    justify-content: space-between;
  }
  .section-2-btn {
    width: 20rem;
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 460px) {
  .section-2 {
    height: 90vh;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 430px) {
  .section-2 {
    height: 100vh;
    justify-content: space-around;
  }
}
@media screen and (max-width: 400px) {
  .section-2 {
    height: 70vh;
  }
  .section-2-content p {
    margin: 2rem 0;
  }
  .section-2 {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 350px) {
  .section-2 {
    height: 70vh;
  }
}
@media screen and (max-width: 300px) {
  .section-2 {
    height: 70vh;
  }
}
/* end of media queries section 2 */

/* end of section 2 */

/* start of section 3 */
.section-3 {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 15rem;
  color: var(--white);
}
.section-3-image {
  width: 40rem;
}
.section-3-image img {
  width: 100%;
}
.section-3-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.section-3-content h3 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-blue);
  text-transform: uppercase;
}
.section-3-content p {
  text-transform: capitalize;
  font-weight: 400;
  margin: 0.5rem 0;
}
.section-3-input {
  margin-top: 2rem;
}
.section-3-input input[type="email"] {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  font-family: inherit;
  font-size: 1.8rem;
  margin-right: 0.5rem;
}
.subscribeBtn {
  background-color: var(--primary-blue);
  color: var(--white);
  transition: .4s all;
}
.subscribeBtn:hover{
  background-color: var(--white);
  color: var(--primary-blue) ;
}

/* media queries section 3 */
@media screen and (max-width: 1200px) {
  .section-3 {
    padding: 2rem;
  }
}
@media screen and (max-width: 1100px) {
  .section-3 {
    flex-direction: column;
    height: 100vh;
  }
  .section-3-content {
    align-items: center;
  }
}
@media screen and (max-width: 770px) {
  .section-3 {
    height: 110vh;
    justify-content: space-between;
  }
}
@media screen and (max-width: 600px) {
  .section-3-image {
    width: 60vw;
  }
  .section-3-content h3 {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .section-3 {
    justify-content: space-around;
  }
  .section-3-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .section-3-input input {
    margin-bottom: 2rem;
    width: 100%;
  }
  .subscribeBtn {
    width: 100%;
  }
  .section-3-content {
    text-align: center;
  }
}
@media screen and (max-width: 430px) {
  .section-3 {
    justify-content: space-around;
    height: 100vh;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 40%;
  }
  .section-3 {
    height: 70vh;
  }
}
/* end of media queries section 3 */

/* end of section 3 */

/* start of section 4 */
.section-4 {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
}
.section-4-headings {
  text-align: center;
}
.section-4-headings h2 {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--primary-blue);
  text-transform: uppercase;
}
.section-4-headings p {
  width: 30vw;
}
.partners-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70%;
}
.partners-container img {
  padding: 3rem;
  background-color: var(--white);
  margin: 2rem;
  width: 25rem;
}

/* media queries for section 4 */
@media screen and (max-width: 797px) {
  .section-4 {
    height: 130vh;
  }
  .section-4-headings p {
    width: 60vw;
  }
}
@media screen and (max-width: 400px) {
  .section-4 {
    height: 100vh;
  }
  .section-4-headings p {
    width: 80vw;
  }
}
/* end of media queries for section 4 */
/* end of section 4 */

/* start of section 5 */
.section-5 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
}
.section-5 h2 {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--primary-blue);
  text-transform: uppercase;
}
.slide {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 4rem 2rem;
  background-color: rgb(32, 145, 249, 0.1);
  width: 100%;
}
.slide .review {
  width: 50%;
  line-height: 1.5;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}
.profile-name p {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.profile-name span {
  font-size: 1.2rem;
}
.moreTesBtn {
  background-color: var(--primary-blue);
  color: var(--white);
  font-weight: 600;
  transition: .4s all;
}
.moreTesBtn:hover{
  background-color: var(--white) !important;
  color: var(--primary-blue) !important;
}
/* media queries section 5 */
@media screen and (max-width: 500px) {
  .slide .review {
    width: 90%;
  }
}
/* media queries section 5 */
/* end of section 5 */

/* start of section 6 */
.section-6 {
  height: 130vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
  text-align: center;
}
.section-6-headings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-6-headings h2 {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--primary-blue);
  text-transform: uppercase;
}
.section-6-headings p {
  width: 70%;
  line-height: 1.5;
}
.pricing-cards {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--white);
  color: var(--bg-color);
  padding: 3rem 2rem;
  border-radius: 1rem;
  width: 30%;
}
.card-heading {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-heading h2 {
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.card-heading p {
  width: 70%;
}
.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing h1 {
  font-size: 8rem;
  margin-right: 1rem;
}
.pricing .dollar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dollar span {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.pricing-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20rem;
  margin: 2rem 0;
}
.pricing-features p {
  font-weight: 500;
}
.price-card-2 {
  background-color: var(--primary-blue);
  color: var(--white);
}
.priceBtn-2 {
  background-color: var(--white) !important;
  color: var(--primary-blue) !important;
}
.priceBtn-2:hover{
  background-color: var(--primary-blue) !important;
  color: var(--white) !important;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}
.orderBtn {
  background-color: var(--primary-blue);
  color: var(--white);
  width: 70%;
  transition: .4s all;
}
.orderBtn:hover{
    background-color: var(--bg-color);
    color: var(--white);
}
/* media queries of section 6 */
@media screen and (max-width: 1000px) {
  .section-6 {
    height: 300vh;
  }
  .pricing-cards {
    flex-direction: column;
  }
  .price-card {
    width: 100%;
    margin: 4rem;
  }
}
@media screen and (max-width: 400px) {
  .section-6 {
    height: 200vh;
  }
}
/* media queries of section 6 */
/* end of section 6 */

/* start of section 7 */
.section-7 {
  height: 130vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
  text-align: center;
}
.section-7-headings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-7-headings h2 {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--primary-blue);
  text-transform: uppercase;
}
.section-7-headings p {
  width: 70%;
  line-height: 1.5;
}
.contact-us-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: var(--white);
  height: 50rem;
  padding: 5rem 4rem;
  border-radius: 1rem;
}
.contact-us .input {
  border: none;
  background-color: var(--bg-color);
  color: var(--white);
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}
.contact-us .input::placeholder {
  color: #aaa;
}
.message {
  border: none;
  background-color: var(--bg-color);
  color: var(--white);
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  resize: none;
  width: 100%;
  height: 10rem;
}
.message::placeholder {
  color: #aaa;
}
.sendBtn {
  background-color: var(--primary-blue);
  color: var(--white);
  border-radius: 0.5rem;
  transition: .4s all;
}
.sendBtn:hover{
  background-color: var(--bg-color);
  color: var(--white);
}
.address-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 2rem;
  height: 50rem;
}
.address {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.address-1 {
  padding: 1rem;
}
.address-1 i {
  color: var(--primary-blue);
  margin-bottom: 2rem;
}
.address-map{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    border-radius: .5rem;
    cursor: pointer;
}
.address-map img{
    object-fit: cover;
    width: 100%;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons i{
    color: var(--primary-blue);
    font-size: 2rem;
    padding: 1rem;
    transition: .4s all;
}
.social-icons i:hover{
  color: var(--white);
}
/* media queries of section 7 */
@media screen and (max-width:1150px) {
    .section-7{
        height: 170vh;
    }
    .contact-us-container{
        flex-direction: column;
        height: 200vh;
    }
    .social-icons{
        margin: 0 auto;
    }
}
@media screen and (max-width:650px) {
    .address-map{
        width: 70%;
    }
}
@media screen and (max-width:550px) {
    .address{
        flex-direction: column;
        margin: 2rem auto;
    }
    .social-icons{
        margin-top: 2rem;
    }
}
@media screen and (max-width:350px) {
    .section-7{
        height: 120vh;
    }
}
/* media queries of section 7 */
/* end of section 7 */

/* start of footer */
.footer{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white);
}
.footer-links-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 50%;
}
.footer-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.footer-links a{
    color: var(--white);
}
.footer-address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 50%;
}
.footer-address-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.footer-address-1 i{
    margin-right: 1rem;
}
.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-social > a {
    padding: 1rem;
  }
  .footer-social > a > i {
    font-size: 2rem;
    color: var(--white);
    transition: .4s all;
  }
  .footer-social > a > i:hover{
    color: var(--primary-blue);
  }
/* media queries for footer */
@media screen and (max-width:1000px) {
    .footer{
        flex-direction: column;
    }
    .footer-links-container{
        width: 80%;
    }
    .footer-links{
        text-align: center;
        align-items: center;
    }
    .footer-address{
        align-items: center;
        text-align: center;
        height: 20%;
        margin-top: 5rem;
    }
}
@media screen and (max-width:500px){
    .footer-links-container{
        width: 90%;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .footer-links{
        margin: 2rem 0;
    }
    .footer{
        height: 100vh;
    }
}
/* media queries for footer */
/* end of footer */
